@mixin flex($display:flex, $align:center, $justify:space-between) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin media($width) {
    @media only screen and (max-width: $width) {
        @content
    }
}