html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    font-family: 'Barlow', sans-serif;
    font-style: normal;
}

main {
    flex-grow: 1;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding: 44px 0;
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: all .4s ease;
    
    &:hover {
        color: #333D4B;
    }
}

.navbar__link + .navbar__link {
    margin-left: 33px;
}

.site-header__menu {
    border: none;
    background-color: transparent;
    display: none;
}


.hero {
    padding-bottom: 163px;
}

.hero__inner {
    padding: 117px 85px;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100% 100%;
}

.hero__content {
    width: 100%;
    max-width: 493px;
}

.hero__title {
    margin: 0;
    margin-bottom: 23px;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__text {
    width: 100%;
    max-width: 445px;
}

.hero__desc {
    margin: 0;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.hero__link {
    display: inline-block;
    padding: 15px 31px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    transition: all .4s ease;
    
    &:hover {
        background: #66D2CF;
    }
}

.collection {
    padding-bottom: 144px;
}

.collection__inner {
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    background-image: url("../images/collection-bg.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% ;
}

.collection__content {
    padding-top: 126px;
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
}

.collection__list {  
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.collection__item {
    width: 100%;
    max-width: 255px;
    text-align: center;
}



.collection__title {
    margin: 0;
    margin: 71px 0 24px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}



@media  only screen and (max-width: 768px) {
    .hero__inner {
        padding: 104px 58px;
        background-image: url('../images/header-bg-table.jpg');
    }

    .collection__inner {
        max-width: 689px;
    }
    
    .collection__content {
        padding-top: 70px;
        max-width: 689px;
        
    }

    .collection__list {  
        display: grid;
        grid-template-columns: 573px;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }

    .collection__item {
        max-width: 573px;
        display: flex;
        align-items: center;
    }

    .collection__wrap {
        max-width: 282px;
    }

    .collection__title {
        margin: 0;
        margin-bottom: 24px;
    }

    .collection__desc {
        margin-bottom: 24px;
    }
    
}

@media only screen and (max-width: 576px) {
    .hero__inner {
        padding: 100px 24px;
        background-image: url('../images/header-bg-mobile.jpg');
    }

    .logo__img {
        max-width: 163px;
        height: 18px;
    }
    
    .navbar {
        display: none;
    }
    
    .site-header__menu {
        display: block;
        margin-left: auto;
    }
    
    .hero__content {
        // text-align: center;
    }
    
    .hero__title {
        margin-bottom: 24px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }
    
    .hero__text {
        max-width: 279px;
    }
    
    .hero__desc {
        margin-bottom: 40px;
        text-align: center;
        font-size: 15px;
    }
    
    .hero__link {
        display: block;
        margin: 0 auto;
        max-width: 217px;
    }

    .collection__item {
        max-width: 282px;
        flex-direction: column;
        display: block;
        margin: 0 auto;
    }

    .collection__item + .collection__item {
        margin-top: 48px;
    }

  
}