.hero__inner {
    padding: 117px 85px;
    background-image: url('../../images/Bitmap.webp');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.coffee__inner {
    @include flex($align:start);
}

.content__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content__item {
    width: 100%;
    max-width: 255px;
    @include flex($justify: null)
}

.content__item-number {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.content__item-menu {
    margin: 0;
    margin-left: 28px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.content__item-line {
    width: 255px;
    height: 1px;
    display: block;
    margin: 24px 0;
    background: #83888F;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.coffee {
    padding-bottom: 120px;
}

.coffee__choose {
    width: 100%;
    margin-bottom: 15px;
    max-width: 730px;
    height: 65px;
    overflow: hidden;
    transition: all .4s ease;
}

.coffee__choose-two {
    width: 100%;
    margin-bottom: 15px;
    max-width: 730px;
    height: 65px;
    overflow: hidden;
    transition: all .4s ease;
}

.coffee__choose-three {
    width: 100%;
    margin-bottom: 15px;
    max-width: 730px;
    height: 65px;
    overflow: hidden;
    transition: all .4s ease;
}

.coffee__choose-four {
    width: 100%;
    margin-bottom: 15px;
    max-width: 730px;
    height: 65px;
    overflow: hidden;
    transition: all .4s ease;
}

.coffee__choose-five {
    width: 100%;
    margin-bottom: 15px;
    max-width: 730px;
    height: 65px;
    overflow: hidden;
    transition: all .4s ease;
}

.coffee__choose + .coffee__choose {
    margin-top: 88px;
}

.coffee__choose-two + .coffee__choose-two {
    margin-top: 88px;
}

.coffee__choose-three + .coffee__choose-three {
    margin-top: 88px;
}

.coffee__choose-four + .coffee__choose-four {
    margin-top: 88px;
}

.coffee__choose-five + .coffee__choose-five {
    margin-top: 88px;
}

.open {
    height: 350px
}

.coffee__choose-title {
    @include flex();
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    cursor: pointer;
    
    
    &::after {
        content: "";
        display: block;
        width: 19px;
        height: 12px;
        background-image: url("../../images/up-to-up.svg");
    }
}

.coffee__choose-title-two {
    @include flex();
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    cursor: pointer;
    
    
    &::after {
        content: "";
        display: block;
        width: 19px;
        height: 12px;
        background-image: url("../../images/up-to-up.svg");
    }
}

.coffee__choose-title-three {
    @include flex();
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    cursor: pointer;
    
    
    &::after {
        content: "";
        display: block;
        width: 19px;
        height: 12px;
        background-image: url("../../images/up-to-up.svg");
    }
}

.coffee__choose-title-four {
    @include flex();
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    cursor: pointer;
    
    
    &::after {
        content: "";
        display: block;
        width: 19px;
        height: 12px;
        background-image: url("../../images/up-to-up.svg");
    }
}

.coffee__choose-title-five {
    @include flex();
    margin: 0;
    margin-bottom: 56px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    cursor: pointer;
    
    
    &::after {
        content: "";
        display: block;
        width: 19px;
        height: 12px;
        background-image: url("../../images/up-to-up.svg");
    }
}

.box {
    display: flex;
    justify-content: space-between;
}

.box__input:checked ~ .card {
    background: #0E8784;
}

.box__input:checked ~ .card > .box__title {
    color: #fff;
}

.box__input:checked ~ .card > .box__desc {
    color: #fff;
}


.box__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.box__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.card {
    width: 100%;
    max-width: 228px;
    margin-bottom: 40px;
    padding: 32px 28px 84px 28px;
    background: #F4F1EB;
    border-radius: 8px;
}

.coffee__order {
    width: 100%;
    max-width: 720px;
    padding: 27px 64px;
    background-color: #22343D;
}

.order__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.order__desc {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.order__desc span {
    color: #0E8784;
}

.box__btn {
    margin-left:auto;
    margin-top: 40px;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 35px;
    display: block;
    font-family: 'Fraunces';
    border: none;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    transition: all .4s ease;
    color: #FEFCF7;
    
    &:hover {
        background: #66D2CF;
    }
}

.coffee__order {
    margin-top: 100px;
}

@include media(768px) {
    .coffee__content {
        display: none;
    }
    
    .coffee__inner {
        display: block;
    }
    
    .box__btn {
        margin: 0 auto;
        margin-top: 40px;
        background: #0E8784;
        border-radius: 6px;
        padding: 15px 35px;
        display: block;
        font-family: 'Fraunces';
        border: none;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        transition: all .4s ease;
        color: #FEFCF7;
        
        &:hover {
            background: #66D2CF;
        }
    }
    
    .coffee__order {
        margin-top: 100px;
    }
}

@include media(576px) {
    .hero__inner {
        padding: 101px 24px 136px 24px;
    }

    .box {
        flex-direction: column;
    }
    
    .coffee__choose-title {
        font-size: 24px;
        line-height: 28px;
        max-width: 370px;
        margin: 0 auto;
    }
    
    .coffee__choose-title-two {
        font-size: 24px;
        line-height: 28px;
        max-width: 370px;
        margin: 0 auto;
    }
    
    .coffee__choose-title-three {
        font-size: 24px;
        line-height: 28px;
        max-width: 370px;
        margin: 0 auto;
    }
    
    .coffee__choose-title-four {
        font-size: 24px;
        line-height: 28px;
        max-width: 370px;
        margin: 0 auto;
    }
    
    .coffee__choose-title-five {
        font-size: 24px;
        line-height: 28px;
        max-width: 370px;
        margin: 0 auto;
    }
    
    .coffee__order {
        margin-top: 100px;
    }
    
    .open {
        height: 850px;
    }
    
    .card {
        margin: 10px auto;
        max-width: 370px;
    }


}