.collection {
    padding-bottom: 144px;
}

.collection__inner {
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    background-image: url("../images/collection-bg.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% ;
}

.collection__content {
    padding-top: 126px;
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
}

.collection__list {  
    margin: 0;
    padding: 0;
    @include flex();
    list-style-type: none;
}

.collection__item {
    width: 100%;
    max-width: 255px;
    text-align: center;
}



.collection__title {
    margin: 0;
    margin: 71px 0 24px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}


@include media(768px) {
  
    .collection__inner {
        max-width: 689px;
    }
    
    .collection__content {
        padding-top: 70px;
        max-width: 689px;
    }
    
    .collection__list {  
        display: grid;
        grid-template-columns: 573px;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }
    
    .collection__item {
        max-width: 573px;
        @include flex($justify: null)
    }
    
    .collection__item + .collection__item {
        margin-top: 24px;
    }

    .collection__wrap {
        max-width: 282px;
    }
    
    .collection__title {
        margin: 0;
        margin-bottom: 24px;
    }
    
    .collection__desc {
        margin-bottom: 24px;
    }
    
}

@include media(576px) {
    .collection__content {
        padding-top: 70px;
        max-width: 282px;
    }

    .collection__inner {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        background-image: url("../images/collect-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% ;
    }

    .collection__list {  
        display: grid;
        grid-template-columns: 282px;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }

    .collection__item {
        max-width: 282px;
    }
}