@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
    
    /* Retina-specific stuff here */
    
    .hero__inner {  
        background-image: url('../images/header-bg@2x.jpg');
        
    .hero__inner {
        background-image: url('../images/header-bg-table@2x.png');
    }

    .hero__inner {
        background-image: url('../images/header-bg-mobile@2x.png');
    }
        
    .about {
        background-image: url('../images/about-bg@2x.jpg');
    }

    @include media(576px) {
        .about {
            background-image: url('../images/about-mobile@2x.jpg');
        }
    }

    }
}