.works {
    padding: 200px 0;
}

.works__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.works__line {
    margin: 80px 0 67px;
    position: relative;
    top: 0;
    @include flex();
    width: 100%;
    max-width: 760px;
    height: 1px;
    border: 2px solid #FDD6BA;
}

.line__circle {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
}

.works__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include flex($justify:null)
}
.works__item {
    width: 100%;
    max-width: 285px;
}

.works__item + .works__item {
    margin-left: 95px;
}

.works__item-number {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.works__item-wrap {
    width: 100%;
    max-width: 255px;
}

.works__item-title {
    margin: 0;
    margin: 38px 0 42px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.works__item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.works__link {
    margin-top: 64px;
    padding: 15px 31px;
    display: inline-block;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
}

@include media(768px) {
    .works {
        padding: 250px 0;
    }
    
    .works__item {
        max-width: 223px;
    }
    
    .works__item + .works__item {
        margin-left: 10px;
    }
    
    .works__line {
        max-width: 467px;
    }
}


@include media(690px) {
    .works {
        margin: 150px 0;
    }
}

@include media(576px) {
    .works {
        margin: 300px 0;
    }
    
    .works__title {
        text-align: center;
    }
    
    .works__line {
        display: none;
    }
    
    .works__list {
        flex-direction: column;
    }
    
    .works__item {
        text-align: center;
    }
    
    .works__item + .works__item {
        margin-top: 56px;
    }
    
    .works__link {
        max-width: 217px;
        display: block;
        margin: 0 auto;
    }
    
    .works__link {
        margin-top: 79px;
    }
}

@include media(360px) {
    .works {
        margin: 400px 0;
    }
}

.site-footer {
    padding-bottom: 88px;
}

.site-footer__inner {
    background: #2C343E;
    padding: 45px 80px;
}

.site-footer__content {
    @include flex($justify:null)
}

.footer__list {
    margin: 0;
    padding: 0;
    margin-left: 103px;
    list-style-type: none;
    @include flex($justify:null)
}

.footer__item + .footer__item {
    margin-left: 32px;
}

.footer__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    transition: all .4s ease;

    &:hover {
        color: #FEFCF7;
    }
}

.icons {
    margin-left: auto;
}

.icon + .icon {
    margin-left: 24px;
}

@include media(768px) {
    .site-footer__content {
        flex-direction: column;
        
    }

    .footer__list {
        margin: 33px 0 65px;
    }

    .icons {
        margin-left: 0;
        text-align: center;
    }
    
}

@include media(576px) {
    .hero__inner {
        background-size: cover;
        background-position: right center;
    }

    .works {
        margin-bottom: 0;
    }

    

    .footer__list {
        flex-direction: column;
        justify-content: center;
    }

    .footer__item + .footer__item {
        margin-left: 0;
    }

    
}